/*Temporarily serves as the "box" of the playbox screen*/
#myCanvas {
        visibility:visible; 
        position:absolute; 
        top:0px; 
        left:0px;
        border:1px solid #000000;
        width:1023px;
        height:599px;
        z-index:-2;
        
        
}

/*Style for all buttons (temp.)*/
button {
        -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        background-color:#79bbff;
        -webkit-border-top-left-radius:0px;
        -moz-border-radius-topleft:0px;
        border-top-left-radius:0px;
        -webkit-border-top-right-radius:0px;
        -moz-border-radius-topright:0px;
        border-top-right-radius:0px;
        -webkit-border-bottom-right-radius:0px;
        -moz-border-radius-bottomright:0px;
        border-bottom-right-radius:0px;
        -webkit-border-bottom-left-radius:0px;
        -moz-border-radius-bottomleft:0px;
        border-bottom-left-radius:0px;
        text-indent:0;
        border:1px solid #84bbf3;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:65px;
        line-height:65px;
        width:131px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #528ecc;
}

button:active {
        position:relative;
        top:1px;
        color:#111111;
}

/*Menu Elements*/
.menu {
        visibility:visible;
}
#title {
        visibility:visible; 
        position:absolute; 
        top:0px; 
        left:0px;
}
#jailimage{
            visibility:visible;
            position:absolute;
            top:150px;
            left:100px;
}
#start {
        visibility:visible;
        position:absolute; 
        top:235px; 
        left:650px;
}
#howtoplay {
        visibility:visible; 
        position:absolute;
        top:310px; 
        left:740px;
}

#settings {
	visibility:visible; 
        position:absolute; 
        top:310px; 
        left:565px;
}
#savedgames {
	visibility:visible; 
        position:absolute; 
        top:390px; 
        left:650px;
}


/*Transitions*/
.transitionSkip {
        visibility:hidden;
}
#storyprompt {
        visibility:hidden; 
        position:absolute; 
        top:0px; 
        left:0px;
}
#yesView {
        visibility:hidden; 
        position:absolute; 
        top:300px; 
        left:300px;
}
#noView {
        visibility:hidden; 
        position:absolute; 
        top:300px; 
        left:550px;
}
.story {
        visibility:hidden;
}
#ok {
        visibility:hidden; 
        position:absolute;
        top:350px; 
        left:450px;
}
#storytext {
        visibility:hidden; 
        position:absolute; 
        top:0px;
        left:0px;
}
.won {
        visibility:hidden;
}
#congratulations {
        visibility:hidden;
        position:absolute; 
        top:10px; 
        left:400px;
}
#backToMenu {
        visibility:hidden;
        position:absolute; 
        top:350px; 
        left:400px;
}
#backToBattle{
	    visibility:hidden;
        position:absolute; 
        top:350px; 
        left:600px;
}
#winart {
            visibility:hidden;
            position:absolute;
            top:0px;
            left:0px;
            z-index:-1;
}
#wintext {
visibility:hidden;
            position:absolute;
            top:0px;
    	left:0px;
            z-index:-1;
}

.gameOver {
            visibility:hidden;
}
#loseToMenu {
            visibility:hidden;
        position:absolute; 
        top:350px; 
        left:400px;
}
#gameoverscreen {
            visibility:hidden;
        position:absolute; 
        top:0px; 
        left:0px;
        z-index:-1;
}

/*The settings screen*/
.settings{
	 	visibility:hidden;
}
#settingstoMenu{
		visibility:hidden;
        position:absolute; 
        top:10px; 
        left:10px;
}
#difficulties {
        visibility:hidden;
        position:absolute;
        top:120px;
        left:100px;	
}
#BGM {
        visibility:hidden;
        position:absolute;
        top:240px;
        left:100px;		
}
#timing {
        visibility:hidden;
        position:absolute;
        top:180px;
        left:100px;		
}/*needs to be styled too*/

/*The customization screen*/
.customization {
		visibility:hidden;
}
#doneCus {
        visibility:hidden;
        position:absolute;
        top:530px;
        left:880px;		
}
#characterCanvas {
        visibility:hidden; 
        position:absolute; 
        top:1px; 
        left:1px;
        border:1px solid #000000;
        width:389px;
        height:597px;
        z-index:-1;	
}/*the followings need to be positioned and styled*/
#genders {
        visibility:hidden;
        position:absolute;
        top:30px;
        left:400px;		
}
#eyes {
        visibility:hidden;
        position:absolute;
        top:105px;
        left:400px;		
}
#mouth {
        visibility:hidden;
        position:absolute;
        top:180px;
        left:400px;		
}
#accessory {
        visibility:hidden;
        position:absolute;
        top:255px;
        left:400px;		
}
#nose {
        visibility:hidden;
        position:absolute;
        top:105px;
        left:600px;		
}
#skinColor {
        visibility:hidden;
        position:absolute;
        top:180px;
        left:600px;		
}
#hair {
        visibility:hidden;
        position:absolute;
        top:255px;
        left:600px;		
}


/*Battle Screen Elements*/
.battle{
        visibility:hidden;
}
#battlescreen{
	    visibility:hidden; 
        position:absolute; 
        top:0px; 
        left:0px;
        z-index:-1;
}
#monster {
        visibility:hidden; 
        position:absolute; 
        top:130px; 
        left:660px;
        border:1px solid #000000;
        width:280px;
        height:350px;
}
#monsterLives {
        visibility:hidden; 
        position:absolute; 
        top:25px; 
        left:800px;
        border:1px solid #000000;
        width:180px;
        height:33px;
}
#characterLives {
        visibility:hidden; 
        position:absolute; 
        top:550px; 
        left:25px;
        border:1px solid #000000;
        width:180px;
        height:33px;
}
#question {
        visibility:hidden;
        position:absolute; 
        top:80px; 
        left:660px; 
        color:WHITE;
}
#timer {
        visibility:hidden;
        position:absolute; 
        top:0px; 
        left:5px; 
        color:WHITE;
}
#answerInput {
        visibility:hidden;
        position:absolute;
        top:130px;
        left:435px;
        color:WHITE;
}
#userAnswer {
        visibility:hidden;       
}
#submitAnswer {
        visibility:hidden; 
        position:absolute; 
        top:200px; 
        left:435px;
}
#item1 {
        visibility:hidden; 
        position:absolute; 
        top:530px; 
        left:730px;
}
#item2 {
        visibility:hidden; 
        position:absolute; 
        top:530px; 
        left:880px;
}

/*"Action Screen"*/
#toShop {
        visibility:hidden; 
        position:absolute; 
        top:350px; 
        left:25px;
}
#showMoney {
        visibility:hidden;
        position:absolute; 
        top:5px; 
        left:900px;
}

/*The shop*/
.shop {
        visibility:hidden;
}
#toBattle {
        visibility:hidden;
        position:absolute; 
        top:40px; 
        left:40px;
}
#key {
        visibility:hidden;
        position:absolute; 
        top:500px; 
        left:800px;
}
#shopscreen {
	    visibility:hidden;
	    position:absolute;
	    top:0px;
	    left:0px;
	    z-index:-1;
}


/*The instructions/how to play screen*/
.instructions{
            visibility:hidden;
}

#instructionstoMenu{
            visibility:hidden;
        position:absolute; 
        top:10px; 
        left:10px;
}
#instructionsimg{
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
}






/*The saved games screen*/
.savedgames{
	 visibility:hidden;
}
#savedgamestoMenu{
            visibility:hidden;
        position:absolute; 
        top:10px; 
        left:10px;
}
#sgtitle{
            visibility:hidden;
        position:absolute; 
        top:0px; 
        left:0px;
        z-index:-1;
}


